@import "../../scss/variables.scss";

.formField {
  &_cont {
    text-align: left;
  }

  &_label {
    margin-bottom: 8px;
  }

  &_input {
    // width: 100%;
    display: flex;
    input {
      // width: 100%;
      flex: 1;
      padding: 23px;
      background-color: $color3;
      border: 1px solid $color5;
      border-radius: 8px;
    }
    &__control {
      width: 100%;
    }
  }
}
