$color1: #576579;
$color2: #f7faff;
$color3: #e8eef6;
$color4: #021633;
$color5: #d8dee6;
$color6: #0047ed;
$color7: #ffffff;
$color8: #000f26;
$color9: #00a478;
$color10: #018b66;
$color11: #f3ba2f;
$color12: #ae7c00;
$color13: #0d8f01;
$color14: #fe512b;

$medium-space: 48px;

$small-space: 24px;
